.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

//border
.bg-white{
    background-color: $white;
}
.bd-top{
    border-top: 1px solid $white;
}
.bd-top-gray{
    border-top: 1px solid $dark-gray;
}
.bd-gray{
    border: 1px solid $bg-gray;
}

//spacers
.my-40{
    margin-top: $spacer-40;
    margin-bottom: $spacer-40;
}
.mb-160{
    margin-bottom: $spacer-40 *4;
}
.mb-12{
    margin-bottom: $spacer-12;
}
.mr-12{
    margin-right: $spacer-12;
}
.py-12{
    padding-top: $spacer-12;
    padding-bottom: $spacer-12;
}
.pd-20-32{
    padding: 20px 32px;
}

//fonts
.font-size-regular{
    font-size: $font-size-default;
}
.font-size-large{
    font-size: $font-size-large;
}
.font-size-xlarge{
    font-size: $font-size-xlarge;
}
.bold{
    font-weight: $font-weight-bold;
}
.bolder{
    font-weight: $font-weight-bolder;
}
.lh-2{
    line-height: 1.2;
}
.lh-3{
    line-height: 1.5;
}
.text-muted{
    color: $gray;
}
.text-align-center{
    text-align: center;
}

//pointer
.pointer{
    cursor: pointer;
  }