.intro {
  &-section {
    flex-direction: column;
    h2 {
      max-width: 480px;
      font-size: 120px;
    }
    h3 {
      max-width: 636px;
      font-size: $font-size-xlarge;
      align-self: flex-end;
    }
  }
}
.animation {
  &-section {
    margin-top: 180px;
    overflow: hidden;
    img {
      max-width: 180px;
      position: relative;
      animation: slideUp 3.5s ease infinite;
      &:nth-child(2) {
        animation-delay: 0.2s;
      }
      &:nth-child(1) {
        animation-delay: 0.4s;
      }
    }
  }
}

@keyframes slideUp {
  0% {
    top: 180px;
  }
  20% {
    top: 0;
  }
  50% {
    top: 0;
  }
  80% {
    top: -180px;
  }
  100% {
    top: -180px;
  }
}

.pricing {
  &-section{
    h4{
      margin-bottom: $spacer-40 *2;
    }
    h5{
      font-size: $font-size-large;
    }
    .price{
      font-size: 20px;
    }
  }
}

.rules {
  &-section {
    ul {
      width: 856px;
    }
    li {
      line-height: 1.2;
      border-bottom: 1px solid $dark-gray;
      h5{
        margin-bottom: $spacer-12*2;
      }
      p{
        margin-bottom: $spacer-40;
      }
      &:not(:last-child) {
        margin-bottom: $spacer-40;
      }
    }
  }
}

.bg-white {
  border-radius: $radius-16 *10;
  padding: $spacer-40 *2 0;
}

.tool {
  &-section {
    color: $default-black;
    a {
      color: $default-black;
    }
    h3 {
      font-size: $font-size-xxlarge;
      margin-top: 80px;
      margin-bottom: 80px;
    }
    &-card {
      width: 100%;
      li:not(:nth-of-type(n + 4)) {
        margin-bottom: $spacer-12 *2;
      }
    }
  }
  &-card {
    flex-direction: column;
    width: 416px;
    border: 1px solid $bg-gray;
    border-radius: $radius-16;
    overflow: hidden;
    h5 {
      line-height: 1.2;
      font-weight: 900;
      font-size: 20px;
    }
    p,
    span {
      line-height: 1.5;
    }
    &-title {
      border-bottom: 1px solid $bg-gray;
      flex-grow: 1;
      p {
        color: $dark-gray;
      }
    }
    &-model {
      border-bottom: 1px solid $bg-gray;
      p {
        font-weight: 700;
      }
    }
    &-img {
      overflow: hidden;
    }
    &:hover {
      img {
        transform: scale(1.1);
        transition: all 0.5s;
      }
    }
  }
}

.search {
  &-form {
    flex-direction: row-reverse;
    border-radius: $radius-16;
    background-color: $bg-gray;
    margin-bottom: $spacer-12 *2;
    padding: 20px 40px;
    button {
      background-color: transparent;
      border: 0;
      font-size: 24px;
      color: $gray;
    }
  }
  &-input {
    width: 100%;
    border: 0;
    background-color: transparent;
    font-size: $font-size-default;
    &:focus {
      outline: none;
    }
  }
}

.filter {
  &-type {
    a {
      padding: 8px 16px;
      border-radius: $radius-16;
      color: $gray;
    }
    li:not(:last-child) {
      margin-right: 8px;
    }
    .active {
      background-color: $bg-gray;
      border: 1px solid $bg-gray;
      color: $default-black;
      font-weight: 700;
    }
  }
}

.qa {
  &-section {
    &-left {
      width: 440px;
    }
    &-right {
      width: 856px;
      li:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  &-box {
    display: flex;
    padding: 20px 40px;
    border: 2px solid $dark-gray;
    border-radius: $radius-16;
    &:hover {
      border-color: $white;
    }
    .remove {
      display: none;
    }
  }
  &-main {
    margin-left: $spacer-40 /2;
  }
  &-title {
    font-size: 20px;
  }
  &-content {
    line-height: 1.5;
    margin-top: 16px;
    display: none;
  }
}
