.title {
  &-section {
    width: 100%;
    img {
      max-width: 245px;
    }
    .menu {
      display: none;
    }
    li:not(:last-child) {
      margin-right: 20px;
    }
  }
}
.intro {
  &-section {
    flex-direction: column;
    h2 {
      max-width: 480px;
      font-size: 120px;
    }
    h3 {
      max-width: 636px;
      font-size: $font-size-large;
      align-self: flex-end;
    }
  }
}
.animation {
  &-section {
    margin-top: 180px;
    overflow: hidden;
    img {
      max-width: 180px;
      position: relative;
      animation: slideUp 3.5s ease infinite;
      &:nth-child(2) {
        animation-delay: 0.2s;
      }
      &:nth-child(1) {
        animation-delay: 0.4s;
      }
    }
  }
}

@keyframes slideUp {
  0% {
    top: 180px;
  }
  20% {
    top: 0;
  }
  50% {
    top: 0;
  }
  80% {
    top: -180px;
  }
  100% {
    top: -180px;
  }
}

.card {
  width: 636px;
  height: 318px;
  margin-bottom: 24px;
  border: 1px solid $dark-gray;
  border-radius: $font-size-default;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-body {
    padding: 20px 32px;
  }
  &:hover {
    border: 1px solid $white;
  }
}
.list-group {
  list-style: disc inside;
  line-height: 1.5;
}
.price {
  font-size: 20px;
}

.rules {
  &-section {
    ul {
      width: 856px;
    }
    li {
      margin-bottom: 40px;
      line-height: 1.2;
      border-bottom: 1px solid $dark-gray;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}

.tool {
  &-section {
    color: $default-black;
    a {
      color: $default-black;
    }
    h3 {
      font-size: $font-size-xxlarge;
    }
    &-card {
      width: 100%;
      li:not(:nth-of-type(n + 4)) {
        margin-bottom: 24px;
      }
    }
  }
  &-card {
    flex-direction: column;
    width: 416px;
    border: 1px solid $bg-gray;
    border-radius: 16px;
    overflow: hidden;
    h5 {
      line-height: 1.2;
      font-weight: 900;
      font-size: 20px;
    }
    p,
    span {
      line-height: 1.5;
    }
    &-title {
      border-bottom: 1px solid $bg-gray;
      flex-grow: 1;
      p {
        color: $dark-gray;
      }
    }
    &-model {
      border-bottom: 1px solid $bg-gray;
      p {
        font-weight: 700;
      }
    }
    &-img {
      overflow: hidden;
    }
    &:hover {
      img {
        transform: scale(1.1);
        transition: all 0.5s;
      }
    }
  }
}

.bg-white {
  border-radius: 160px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.search {
  &-form {
    flex-direction: row-reverse;
    border-radius: 16px;
    background-color: $bg-gray;
    button {
      background-color: transparent;
      border: 0;
      font-size: 24px;
      color: $gray;
    }
  }
  &-input {
    width: 100%;
    border: 0;
    background-color: transparent;
    font-size: $font-size-default;
    &:focus {
      outline: none;
    }
  }
}
.filter {
  &-type {
    a {
      padding: 8px 16px;
      border-radius: 16px;
      color: $gray;
    }
    li:not(:last-child) {
      margin-right: 8px;
    }
    .active {
      background-color: $bg-gray;
      border: 1px solid $bg-gray;
      color: $default-black;
      font-weight: 700;
    }
  }
}

.qa {
  &-section {
    &-left {
      width: 440px;
    }
    &-right {
      width: 856px;
      li:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  &-box {
    display: flex;
    padding: 20px 40px;
    border: 2px solid $dark-gray;
    border-radius: 16px;
    &:hover {
      border-color: $white;
    }
    .remove {
      display: none;
    }
  }
  &-main {
    margin-left: 20px;
  }
  &-title {
    font-size: 20px;
  }
  &-content {
    line-height: 1.5;
    margin-top: 16px;
    display: none;
  }
}

.bottom {
  &-section {
    display: flex;
    &-left {
      h2 {
        font-size: 80px;
      }
    }
    &-right {
      img {
        width: 245px;
      }
    }
  }
}

.footer {
  &-section {
    display: flex;
    font-weight: 900;
    position: relative;
    ul {
      display: flex;
      align-items: center;
    }
    h5,
    li:not(:last-child) {
      margin-right: 20px;
    }
    h5 {
      padding-right: 80px;
    }
    .backToTop {
      display: flex;
      position: absolute;
      right: 0;
      span {
        font-size: $font-size-default;
      }
    }
  }
}

//component
.btn-bd-gray {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  border: 1px solid $bg-gray;
  border-radius: 16px;
  transition: 0.3s;
  &:hover {
    border-color: $default-black;
  }
  span{
    font-size: 14px;
  }
}

.pagination {
  display: flex;
  align-items: center;
  a {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    line-height: 1.5;
  }
  a,
  span {
    font-size: 14px;
    font-weight: 700;
  }
  li:not(:last-child) {
    margin-right: 4px;
  }
  .active {
    background-color: $default-black;
    color: $white;
    border-radius: 16px;
  }
}
