$bg-black: #1E1E1E;
$bg-gray:#f2f2f2;
$dark-gray: #525252;
$gray: #919191;
$white: #fff;
$default-black: #020202;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;
$font-size-default: 16px;
$font-size-large: $font-size-default * 2;
$font-size-xlarge: $font-size-default * 3;
$font-size-xxlarge: $font-size-default * 5;

//revised
$spacer-12: 12px;
$spacer-40: 40px;
$radius-16: 16px;
